.form {
  border: 2px solid;
  width: 100%;
  max-width: 300px;
  padding: 40px;
}
.label {
  font-size: 24px;
}
.input {
  display: block;
  margin-top: 20px;
  width: 100%;
}
.btnSubmit {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 20px;
  cursor: pointer;
}
.btnSubmit:active {
  background-color: aqua;
  scale: 1.1;
}
